
###> symfony/framework-bundle ###

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
11
###> lexik/jwt-authentication-bundle ###

###< lexik/jwt-authentication-bundle ###

###> terraform ###
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.zip
terraform/response.json
###< terraform ###
